<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineBloom</title>
</head>
<body>
    <div>
        <h1>{{ message }}</h1>
        <a href="/movies">View All Movies</a>
        <br>
        <a href="/top-rated">View Top-Rated Movies</a>
        <br><br>
    </div>

    <div ng-controller="movieSearchController">
        <h1>Movie Search</h1>
        <input type="text" ng-model="searchQuery" placeholder="Enter movie name" />
        <button ng-click="searchMovies()">Search</button>

        <div ng-if="movieData">
            <h2>Movie Details:</h2>
            <p><strong>Name:</strong> {{ movieData.title }}</p>
            <p><strong>Description:</strong> {{ movieData.overview }}</p>
            <img ng-src="https://image.tmdb.org/t/p/w500{{ movieData.poster_path }}" alt="{{ movie.title }}" class="movie-poster">
            <p><strong>Release Date:</strong>{{ movieData.release_date }}</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/service/movieService.js"></script>
    <script src="/app/controller/movieSearchController.js"></script>

</body>
</html>
